<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Posiciones de las ventanas</comment>
<entry key="x14">573</entry>
<entry key="w19">512</entry>
<entry key="x13">718</entry>
<entry key="w18">512</entry>
<entry key="x12">755</entry>
<entry key="w17">512</entry>
<entry key="x11">547</entry>
<entry key="w16">512</entry>
<entry key="x10">249</entry>
<entry key="w15">512</entry>
<entry key="w14">512</entry>
<entry key="w13">512</entry>
<entry key="w12">512</entry>
<entry key="w11">512</entry>
<entry key="w10">512</entry>
<entry key="y9">875</entry>
<entry key="y8">697</entry>
<entry key="y7">607</entry>
<entry key="y6">517</entry>
<entry key="y5">432</entry>
<entry key="y4">379</entry>
<entry key="y3">323</entry>
<entry key="y2">294</entry>
<entry key="y1">273</entry>
<entry key="y0">271</entry>
<entry key="x9">160</entry>
<entry key="x8">113</entry>
<entry key="x7">166</entry>
<entry key="x6">211</entry>
<entry key="x5">240</entry>
<entry key="x4">286</entry>
<entry key="x3">374</entry>
<entry key="x2">477</entry>
<entry key="x1">580</entry>
<entry key="x0">685</entry>
<entry key="h25">320</entry>
<entry key="h24">320</entry>
<entry key="h23">320</entry>
<entry key="h22">320</entry>
<entry key="h21">320</entry>
<entry key="h20">320</entry>
<entry key="w9">512</entry>
<entry key="w8">512</entry>
<entry key="w7">512</entry>
<entry key="w6">512</entry>
<entry key="w5">512</entry>
<entry key="w4">512</entry>
<entry key="w3">512</entry>
<entry key="w2">512</entry>
<entry key="w1">512</entry>
<entry key="w0">512</entry>
<entry key="numeroDeVentanas">26</entry>
<entry key="h19">320</entry>
<entry key="h18">320</entry>
<entry key="h17">320</entry>
<entry key="h16">320</entry>
<entry key="h15">320</entry>
<entry key="h14">320</entry>
<entry key="h13">320</entry>
<entry key="h12">320</entry>
<entry key="h11">320</entry>
<entry key="h10">320</entry>
<entry key="y25">52</entry>
<entry key="y24">170</entry>
<entry key="y23">441</entry>
<entry key="y22">589</entry>
<entry key="h9">320</entry>
<entry key="y21">681</entry>
<entry key="h8">320</entry>
<entry key="y20">836</entry>
<entry key="h7">320</entry>
<entry key="x25">1498</entry>
<entry key="h6">320</entry>
<entry key="x24">1547</entry>
<entry key="h5">320</entry>
<entry key="x23">1499</entry>
<entry key="h4">320</entry>
<entry key="x22">1427</entry>
<entry key="h3">320</entry>
<entry key="x21">1236</entry>
<entry key="h2">320</entry>
<entry key="x20">915</entry>
<entry key="h1">320</entry>
<entry key="w25">512</entry>
<entry key="h0">320</entry>
<entry key="w24">512</entry>
<entry key="w23">512</entry>
<entry key="w22">512</entry>
<entry key="w21">512</entry>
<entry key="w20">512</entry>
<entry key="y19">962</entry>
<entry key="y18">866</entry>
<entry key="y17">616</entry>
<entry key="y16">680</entry>
<entry key="y15">488</entry>
<entry key="y14">447</entry>
<entry key="x19">491</entry>
<entry key="y13">666</entry>
<entry key="x18">367</entry>
<entry key="y12">821</entry>
<entry key="x17">327</entry>
<entry key="y11">917</entry>
<entry key="x16">257</entry>
<entry key="y10">995</entry>
<entry key="x15">378</entry>
</properties>
